.game-section {
    width: 85%;
    margin-top: 5em;
}
.game-section #title {
    color: #fff;
    margin-bottom: 1em;
}
.game-section .game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.game-container .game {
    width: 100%;
    padding: .3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #ffffff50;
    border-radius: 20px;
}
.game-container .game:active {
    border: 1px solid #00ff00;
}
.game .description {
    display: flex;
    gap: 1em;
}
.game .description img {
    width: 5em;
    height: 5em;
    border: 1px solid #fff;
    border-radius: 20px;
}
.game .description h2 {
    color: #fff;
    margin-bottom: 1em;
}
.game p {
    color: #ffffff90;
}
.game a {
    margin-right: 1em;
    font-weight: bold;
    align-self: flex-end;
    color: #00ff00;
}