.hot-news {
    width: 85%;
    margin: 2em;
    position: relative;
    color: #fff;
    border: 1px solid #ffffff50;
    border-radius: 20px;
}
.hot-news #new-fragment {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff00;
}
#new-fragment div:first-child {
    -webkit-text-stroke: 1px #000;
    font-size: 5em;
    color: #ffff00;
}
#new-fragment div:last-child {
    font-size: .8rem;
    font-weight: 500;
    position: absolute;
    transform: translateY(15%);
    color: #000;
}
.hot-news #img-display {
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ffffff30;
    border-radius: 20px 20px 0 0;
}
#img-display img {
    scroll-snap-align: start;
    width: 100%;
}
.hot-news #img-title {
    margin: 1em;
}
.hot-news table {
    margin: 1em;
    text-align: left;
    color: #fff;
}
.hot-news table tr {
    vertical-align: top;
}
.hot-news table tr td:first-of-type {
    width: 1em;
}
.hot-news .play {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot-news .play a {
    width: 90%;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00ff00;
    border-radius: 20px;
    color: #00ff00;
    background-color: transparent;
}
.hot-news .play a:active {
    color: #fff;
    background-color: #00ff00;
}